<%= form_for(absent) do |f| %>
  <% if absent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(absent.errors.count, "error") %> prohibited this absent from being saved:</h2>

      <ul>
      <% absent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %>
    <%= f.collection_select(:employee_id, Employee.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :from %>
    <%= f.date_select :from %>
  </div>

  <div class="field">
    <%= f.label :to %>
    <%= f.date_select :to %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
